/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.content{
    display: grid;
    grid-template-rows: 10vh 5vh 85vh;
    background: url("./burger-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.title{
    background-color: rgba(0, 0, 0, 0.432);
    font-size: 45px;
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
}

.topbar{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    height: 5vh;
    background-color: rgba(0, 0, 0, 0.432);
    
    gap: 100px;
    justify-content: center;
}

.topbar div{
    display: grid;
    text-align: center;
    color: white;
    align-content: center;
    border-bottom-color: rgb(172, 131, 42);
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.mainContent{
    
    display: grid;
    justify-content: center;
    align-items: center;
}

.infobox{
    display: grid;
    width: 800px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.541);
    justify-content: center;
    align-content: center;
}

.infobox div{
    font-size: 38px;
    color: white;
    text-align: center;
    line-height: 110%;
    padding: 50px;
}